{% extends 'base2.html' %}
{% load staticfiles %}
{% block main %}
    <h1 class="page-title">关于本站</h1>
						<article class="post">
							<div class="entry-content clearfix">
								<figure class="img-responsive-center">
									<img class="img-responsive" src="{% static 'blog/images/log.png' %}" alt="Developer Image">
                                </figure>
								<p align="center">个人小站，多多包涵。</p>
								<p align="center">Go big or go home.</p>

                                <!--
								<div class="height-40px"></div>
                                <h2 class="title text-center">社交</h2>
								<ul class="social">
									<li class="facebook"><a href="#"><span class="ion-social-facebook"></span></a></li>
									<li class="twitter"><a href="#"><span class="ion-social-twitter"></span></a></li>
									<li class="google-plus"><a href="#"><span class="ion-social-googleplus"></span></a></li>
									<li class="tumblr"><a href="#"><span class="ion-social-tumblr"></span></a></li>
								</ul>
							-->
							</div>
						</article>

{% endblock %}

